{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- if .page.GetTerms .taxonomy }}
	<hr>
	<div>
		<p>{{ title .taxonomy }}:
			{{ range $index, $value := .page.GetTerms .taxonomy }}
				{{- if $index }} | {{ end -}}
				<a href="{{ $value.RelPermalink }}">{{ $value.LinkTitle }}</a>
			{{ end -}}
		</p>
	</div>
{{- end }}
